@media(max-width: 600px){
    .position{
        &__center{
            margin-left: 16px;
            margin-right: 16px;
        }

        &__gap {
            &_normal{
                margin-top: 32px;
            }

            &_big {
                margin-top: 100px;
            }
        }
    }
        


    .text{
        &__size{
            &_xs{
                font-size: 12px;
                font-weight: 400;
                line-height: 15px;
            }
            &_s{
                font-size: 12px;
                font-weight: 400;
                line-height: 17px;
            }
            &_sb{
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
            }
            &_m{
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
            }
            &_mb{
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
            }
            &_l{            
                font-weight: 400;
                font-size: 18px;
                line-height: 32px;
            }
            &_lb{            
                font-weight: 500;
                font-size: 18px;
                line-height: 29px;
            }
            &_lbb{
                font-weight: 600;
                font-size: 18px;
                line-height: 36px;
            }
            &_xl{
                font-weight: 600;
                font-size: 28px;
                line-height: 34px;
            }
            &_xxl{
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;
            }
            &_xxxl{
                font-weight: 600;
                font-size: 48px;
                line-height: 59px;
            }
        }
    }   
}
