@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

input, button, select{
    color: inherit;    
    font-family: inherit;
    &::placeholder {
        color: inherit;
        font-family: inherit;
    }
}

.text-input{
    background-color: transparent;        
    outline: none;
}

body {
    font-family: 'Montserrat', sans-serif;    
}

.position{
    &__center{
        margin-left: 24px;
        margin-right: 24px;
        padding-left: calc(50% - 624px);
        padding-right: calc(50% - 624px);    
    }

    &__gap {
        &_normal{
            margin-top: 64px;
        }
        
        &_small {
            margin-top: 32px;
        }
        
        &_big {
            margin-top: 128px;
        }
    }
}

.text{
    &__color{
        &_light{
            color: #ffffff;
        }
        &_gray{
            color: #888888;
        }
        &_quite-dark{
            color: #050505;
        }
        &_dark{
            color: #000000;
        }
    }

    &__underline{
        text-decoration: underline;
    }

    &__line-through{
        text-decoration-line: line-through;
    }
        

    &__size{
        &_xs{
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
        }
        &_s{
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
        }
        &_sb{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
        }
        &_m{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
        &_mb{
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
        &_l{            
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
        }
        &_lb{            
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
        }
        &_lbb{
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
        }
        &_xl{
            font-weight: 600;
            font-size: 34px;
            line-height: 41px;
        }
        &_xxl{
            font-weight: 600;
            font-size: 48px;
            line-height: 59px;
        }
        &_xxxl{
            font-weight: 600;
            font-size: 64px;
            line-height: 70px;
        }
    }
}

.link_hover:hover {    
    text-decoration: underline;
}


@import 'mobile';