.cart-item{
    display: flex;        
    padding-top: 25px;
    padding-bottom: 32px; 
    gap: 32px;
    border-top: 0.5px solid #CACDD8;

    &__box{    
        flex-grow: 1;    
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__product-image-container{
        display: inline;
    }

    &__product-image{
        width: 173px;
        height: 173px;
        object-fit: cover;
    }

    &__product-desc{
        max-width: 276px;
    }

    &__count{
        width: 70px;
        height: 50px;
        text-align: right;
        padding-right: 24px;
        outline: none;
        background: #F7F6F6;
        border-radius: 6px;
        border: none;
    }

    &__command-bar{
        display: flex;   
        gap: 32px
    }
}

@media(max-width: 600px){
    .cart-item{
        display: flex;        
        padding-top: 18px;
        padding-bottom: 24px; 


        &__product-image{
            display: none;
        }

        &__product-desc{
            margin-top: -6px;
        }
    }
}